<div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">Liste de Produits</div>
        <div class="panel-body">
          <button class="btn btn-primary" (click)="onGetProduct()">
            Chercher
          </button>
        </div>
        <div class="panel-body">
            <table *ngIf="produits" class="table table-striped">
             <thead>
               <th>ID</th>
               <th>Designation</th>
               <th>Price</th>
               <th>Quantity</th>
             </thead>
             <tbody>
              <tr *ngFor="let p of produits" >
                <td>{{p.id}}</td>
                <td>{{p.designation}}</td>
                <td>{{p.price}}</td>
                <td>{{p.quantity}}</td>
              </tr>
             </tbody>
            </table>
            <ul *ngIf="pages" class="nav nav-pills">
              <li *ngFor="let p of pages; let i=index">
                <a (click)="onPageProduct(i)">{{i}}</a>
              </li>
            </ul>
        </div>
    </div>

</div>
